/*
color-palette

#6367FF blue
#8494FF lightblue
#C9BEFF light blue-purple
#FFDBFD lightpink
bluepurplepinkgradientcoldlight
*/
.hidden {
    display: none;
    visibility: none;
}
.unhidden {
    display: block;
    visibility: visible;
}
body {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(33%, fill);
    background-image: radial-gradient(#FFDBFD, #C9BEFF);
    padding: 0;
    margin: 0;   
    height: 100%;
}
header{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 50px;
    grid-column: 1 / span 2;
    background-color: #FFB8FD;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.267);
}

#content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    border: 6px solid black;
    height: calc(100vh - 50px);
    width: 100%;
    justify-content: center;
    
}
#projInfoDiv{
    display: flex;
    flex-direction: column;
}
#projTaskDiv{
    display: flex;
    flex-direction: column;
}
#sidebar{
    grid-column: 1/1;
    grid-row: 2/ span 5;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: calc(100vh - 50px);
    margin: auto;
    padding: 15px;
    width: 100%;
    /* overflow: hidden; */
    background-color: #FFB8FD;

}
#user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 100%;   
    border-bottom: 1px solid black; 
}
#user-info-name_avatar {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 75%;
    padding: 10px;
    background-color: #FFFAD0;
    border-radius: 30px;
    border: 2px solid black;
}
#user-info-name_avatar > p {
    font-size: 18px;
}
#defProjContainer{
    margin-top: 25px;
    border-radius: 25px;
    height: 200px;
}
#projects-sidebar-div{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
}
/*this is the card in sidebar */
.projectCard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 25px;
    width: 100%;
    padding: 10px;
    height: 200px;
    font-size: 18px;
    background-color: #C9BEFF;
}
.projectCardDetailed {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#projectArrayContainer {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(20%, fill);
    align-self: center;
    width: 100%;
    height: calc(100vh - 50px); 
    padding: 20px;
}


#task-dialog{
    border-radius: 25px;
}
#taskForm {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    width: 100%;
}


.taskCard{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    font-size: 18px;
    border: 1px solid black;
    width: 80%;
    height: 75px;
    max-height: 300px;
    gap: 50px;
    background-color: #bae1ff;
    padding: 10px;
    overflow: hidden;
}
/* used for task cards 'quick view' (Before expanding)*/
.interiorContainer{
    display: flex;
}
.interiorContainerText{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 100%;
}
.interiorContainerText > p{
    padding: 0;
    margin: 0;
}
.taskCard > p {
    padding: 0;
    margin: 0;
}
.expandTaskCard{
    height: 300px;
    max-height: 300px;
}
#taskExpandedDetails{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 5px; 
}
#taskExpandedDetails > p {
    margin: 0;
    padding: 0;
}

#statusChangeBtn{
    height: 25px;
    width: 25px;
    cursor: pointer;
}

/* priority color codes below. Scale is 1 (can push back) - 5 (do now)*/
.priorityOne{ 
    background-color: 	#bae1ff;
}
.priorityTwo {
    background-color: #baffc9;
}
.priorityThree {
    background-color: #ffffba;
}
.priorityFour {
    background-color:  	#ffdfba;
}
.priorityFive {
    background-color: #ffb3ba;
}
