body {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
}
header {
    width: 100vw;
}
#content {
    display: flex;
    
    grid-column-start: 2;
    grid-row-start: 1 / span 10;
    background-color: purple;
    height: 100%;
    width: 100%;
}